<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header" style="background-color: rgba(39,41,61,255); color: white;"></div>
        <div class=" card-body" style="background-color: rgba(39,41,61,255); color: white;">
          <form>
            <div class=" row">

                  <h1>User</h1>
                    <div class=" col-md-3 px-md-1">
                      <div class=" form-group">
                          <b>Firstname:</b>
                          <input type="text" class="form-control" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                    <div class=" col-md-3 px-md-1">
                      <div class=" form-group">
                        <b>Lastname:</b>
                        <input type="text" class="form-control" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                      <div class=" col-md-4 pl-md-1">
                          <b>Username:</b>
                          <input type="text" *ngIf="mode === 'EDIT'" readonly class="form-control" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
                          <input type="text" *ngIf="mode === 'ADD'" class="form-control" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class=" col-md-6 pr-md-1">
                        <div class="form-group">
                        <b>Password:</b>
                        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                    <div class="ml-5 mt-2">
                      <h4>Roles</h4>
                      <div *ngIf="user.roles.length > 0">
                        <table class="table">
                          <tr *ngFor="let role of user.roles">
                            <td class="color_text">
                              {{role.name}}
                              <button type="button" class="btn btn-danger btn-sm" (click)="removeRole(role.code)">X</button>
                            </td>
                          </tr>
                        </table>
                    </div>  
                      <div *ngIf="unassignedRoles.length > 0" class="btn-group">
                          <select class='form-control  ' [(ngModel)]="roleCode" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let role of unassignedRoles" class="black_text_color" value="{{role.code}}">{{role.name}}</option>
                          </select>
                            <button type="button" class="btn btn-primary" (click)="assignRole()">+</button>
                      </div>
                    </div>
                
                  <div class="text-right">
                    <button type="button" class=" btn btn-fill btn-danger" (click)="save()">✓</button>
                    <button type="button" class=" btn btn-fill btn-danger" (click)="goBack()">X</button>
                  </div>
              
        </form>
      </div>
    </div>
  </div>
</div>

