<div class="main">
    <h1 class="ml-5">Exams</h1>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Gradle</th>
                <th class="text-center">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><a routerLink="/exam-detail">Poslovna informatika</a></td>
                <td class="text-center">8</td>
                <td class="text-center">75</td>
            </tr>
            <tr>
                <td class="text-center"><a routerLink="/exam-detail">Tehnologije i sistemi eObrazovanja</a></td>
                <td class="text-center">/</td>
                <td class="text-center">/</td>
            </tr>
        </tbody>
        
    </table> 
    <div class="ml-5" style="float: right; margin-right: 15%;">
        <button routerLink="/add-exam" type="button" class="btn btn-outline-primary mt-3 ml-5">Add</button>
    </div>
</div>