<div class="main">
    <h1 class="ml-5">Users</h1>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Title</th>
                <th class="text-center">URL</th>
                <th class="text-center">Document type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><a routerLink="/">doc1</a></td>
                <td class="text-center">C:/Users/Documents/doc1</td>
                <td class="text-center">type1</td>
            </tr>
            <tr>
                <td class="text-center"><a routerLink="/">doc2</a></td>
                <td class="text-center">C:/Users/Documents/doc2</td>
                <td class="text-center">type2</td>
            </tr>
        </tbody>
    </table>
    <div style="float: right; margin-right: 15%;">
        <button type="button" class="btn btn-primary">Add</button>
    </div>
</div>