<div class="form-group text-center">
    <h1>Course instance</h1>
    <div class="btn-group">
      <div class="mt-4 text-center">
        <div class="ml-5 mt-2">
            <div class="ml-1">
                <b>Course:</b>
                <input class='form-control col-8 ml-2 mb-3 d-inline' (keyup)="searchSpecification($event)" list="coursesSpecifications" [(ngModel)]="courseSpecificationCode" className='form-control form-control-sm col-10'/>
                <datalist id='coursesSpecifications'>
                    <option *ngFor="let cs of coursesSpecifications" value="{{cs.code}}">{{cs.title}}</option>
                </datalist>
            </div> 
            <div>
                <b>Start date:</b>
                <input type="date" class="form-control col-7 d-inline ml-2" [(ngModel)]="courseInstance.startDate">
            </div>
            <div class="mt-2 ml-50">
                <b>End date:</b>
                <input type="date" class="form-control col-7 d-inline ml-2" [(ngModel)]="courseInstance.endDate">
            </div>
        </div>
      </div>
    </div>
    <div class="ml-5 mt-5">
      <button type="button" class="btn btn-outline-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-outline-warning ml-1" (click)="goBack()">Cancel</button>
    </div>
  </div>
