<div class="main">
    <h1 class="ml-5">Teachings</h1>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Teacher</th>
                <th class="text-center">Teaching type</th>
                <th class="text-center">Course Instance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><a routerLink="/teacher">Marko Marković</a></td>
                <td class="text-center">exercise</td>
                <td class="text-center"><a routerLink="/course-instance">XML Tehnologije</a></td>
            </tr>
            <tr>
                <td class="text-center"><a routerLink="/teacher">Miroslav Zarić</a></td>
                <td class="text-center">exercise</td>
                <td class="text-center"><a routerLink="/course-instance">WEB Dizajn</a></td>
            </tr>
        </tbody>
    </table>
</div>