<div class="main">
    <h1 *ngIf="role === 'ROLE_STUDENT'" class="ml-5">Exam detail</h1>
    <h1 *ngIf="role === 'ROLE_ADMINISTRATOR'" class="ml-5">Exam parts</h1>
    <div *ngIf="role === 'ROLE_STUDENT'" class="row mx-auto w-75 mt-5">
        <div class="ml-5">
            <b>Course title:</b> <input type="text" readonly class="form-control ml-2" [(ngModel)]="exam.enrollmentDTO.courseInstanceDTO.courseSpecificationDTO.title">
        </div>
        <div class="w-10 ml-5">
            <b>Gradle:</b> <input type="text" readonly class="form-control ml-2 col-8 text-center" [(ngModel)]="exam.gradle">
        </div>
        <div class="w-10 ml-5">
            <b>Ponts:</b> <input type="text" readonly class="form-control ml-2 col-8 text-center" [(ngModel)]="exam.points">
        </div>
        <div class="w-10 ml-5">
            <b>ECTS:</b> <input type="text" readonly class="form-control ml-2 col-6 text-center" [(ngModel)]="exam.enrollmentDTO.courseInstanceDTO.courseSpecificationDTO.ects">
        </div>
    </div>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Location</th>
                <th class="text-center">Points</th>
                <th *ngIf="role === 'ROLE_STUDENT'" class="text-center">Won points</th>
                <th *ngIf="role === 'ROLE_STUDENT'" class="text-center">Status</th>
                <th class="text-center">Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of examDetails; let i = index; let odd = odd;">
                <td class="text-center">{{ dateToString(e.date) | date:'medium'}}</td>
                <td class="text-center">{{ e.location }}</td>
                <td class="text-center">{{ e.points }}</td>
                <td *ngIf="role === 'ROLE_STUDENT'" class="text-center">{{ e.wonPoints }}</td>
                <td *ngIf="role === 'ROLE_STUDENT' && isChecked(e.id)==='cr'" class="text-center"><input type="checkbox" (change)="checkValue(e)"></td>
                <td *ngIf="role === 'ROLE_STUDENT' && isChecked(e.id)==='re'" class="text-center"><input type="checkbox" checked (change)="checkValue(e)"></td>
                <td *ngIf="role === 'ROLE_STUDENT' && isChecked(e.id)!=='re' && isChecked(e.id)!=='cr'" class="text-center">{{ e.statusDTO.name }}</td>
                <td class="text-center">{{ e.examPartTypeDTO.name }}</td>
                <td><button *ngIf="role === 'ROLE_ADMINISTRATOR'" type="button" class="ml-1 btn-primary rounded" (click)="goToExamPart(e)">🖉</button></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="role !== 'ROLE_STUDENT'" class="ml-5" style="float: right; margin-right: 15%;">
        <a class="btn btn-outline-primary mt-3 ml-5" routerLink="/add-exam-part" role="button">Add</a>
    </div>
</div>
