<div class="main">
    <h1 class="ml-5">Exam detail</h1>
    <div class="row mx-auto w-75 mt-5">
        <div class="ml-5">
            <b>Course title:</b> <input type="text" readonly class="form-control ml-2" [(ngModel)]="exam.enrollmentDTO.courseInstanceDTO.courseSpecificationDTO.title">
        </div>
        <div class="w-10 ml-5">
            <b>Gradle:</b> <input type="text" value="8" readonly class="form-control ml-2 col-6 text-center" [(ngModel)]="exam.gradle">
        </div>
        <div class="w-10 ml-5">
            <b>Ponts:</b> <input type="text" value="75" readonly class="form-control ml-2 col-6 text-center" [(ngModel)]="exam.points">
        </div>
        <div class="w-10 ml-5">
            <b>ECTS:</b> <input type="text" value="7" readonly class="form-control ml-2 col-6 text-center">
        </div>
    </div>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Location</th>
                <th class="text-center">Points</th>
                <th class="text-center">Won points</th>
                <th class="text-center">Status</th>
                <th class="text-center">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">14-11-2020</td>
                <td class="text-center">208</td>
                <td class="text-center">40</td>
                <td class="text-center">30</td>
                <td class="text-center">Passed</td>
                <td class="text-center">Colloquium</td>
            </tr>
            <tr>
                <td class="text-center">25-02-2021</td>
                <td class="text-center">309</td>
                <td class="text-center">60</td>
                <td class="text-center">45</td>
                <td class="text-center">Passed</td>
                <td class="text-center">Oral exam</td>
            </tr>
        </tbody>
    </table>
    <div class="ml-5" style="float: right; margin-right: 15%;">
        <a class="btn btn-outline-primary mt-3 ml-5" routerLink="/add-exam-part" role="button">Add</a>
    </div>
</div>
