<div class="main">
    <h1 class="ml-5">Students</h1>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Firstname</th>
                <th class="text-center">Lastname</th>
                <th class="text-center">Card number</th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let s of students; let i = index; let odd = odd;">
                <td class="text-center">{{s.userDTO.firstName}}</td>
                <td class="text-center">{{s.userDTO.lastName}}</td>
                <td class="text-center"><button class="btn btn-link" (click)="goToViewStudent(s)">{{s.cardNumber}}</button></td>
                <td class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="deleteStudent(s)">X</button></td> 
            </tr>
        </tbody>
    </table>
    <div class="ml-5" style="float: right; margin-right: 15%;">
        <!-- <a class="btn btn-outline-primary mt-3 ml-5" routerLink="/add-user" role="button">Add</a> -->
    </div>
</div>