<div class="form-group text-center">
    <div style="display: inline;">
        <img src="/src/assets/img/user.jpg">
    </div>
    <div class="mt-5">
        <b>First name:</b>
        <input type="text" class="form-control col-2 d-inline ml-2">
    </div>
    <div class="mt-2 ml-50">
        <b>Last name:</b>
        <input type="text" class="form-control col-2 d-inline ml-2">
    </div>
    <div class="mt-2 ml-50">
        <b>Username:</b>
        <input type="text" class="form-control col-2 d-inline ml-2">
    </div>
    <div class="ml-5">
        <button type="button" class="btn btn-outline-primary mt-3 ml-5">Save</button>
    </div>
    <ul class="nav justify-content-center">
        <li routerLinkActive="active" class="nav-item" style="margin-right: 5px;">
            <a routerLink="/users" class="nav-item" style="text-decoration: none;" href="">Users</a>
        </li>
        <li routerLinkActive="active" class="nav-item" style="margin-right: 5px;">
            <a routerLink="/account" class="nav-item" style="text-decoration: none;" href="">Account</a>
        </li>
        <li routerLinkActive="active" class="nav-item" style="margin-right: 5px;">
            <a routerLink="/exams" class="nav-item" style="text-decoration: none;" href="">Exams</a>
        </li>
        <li routerLinkActive="active" class="nav-item" style="margin-right: 5px;">
            <a routerLink="/documents" class="nav-item" style="text-decoration: none;" href="">Documents</a>
        </li>
        <li class="nav-item" style="margin-right: 5px;">
            <a class="nav-item" style="text-decoration: none;" href="">Teachings</a>
        </li>
    </ul>
</div>