<div class="form-group text-center">
    <div style="display: inline;">
        <img src="../../../assets/img/Sample_User_Icon.png" class="w-15 h-15 ml-5">
    </div>
    <div class="">
        <b>First name:</b>
        <input type="text" class="form-control col-2 d-inline ml-2" readonly [(ngModel)]="user.firstName">
    </div>
    <div class="mt-2 ml-50">
        <b>Last name:</b>
        <input type="text" class="form-control col-2 d-inline ml-2" readonly [(ngModel)]="user.lastName">
    </div>
    <div class="mt-2 ml-50">
        <b>Username:</b>
        <input type="text" class="form-control col-2 d-inline ml-2" readonly [(ngModel)]="user.userName">
    </div>
    <div class="ml-5">
        <button type="button" class="btn btn-outline-primary mt-3 ml-5">Change information</button>
    </div>
</div>