<div class="form-group text-center">
    <div style="display: inline;">
        <img src="../../../assets/img/Sample_User_Icon.png" class="w-15 h-15 ml-5">
    </div>
    <div class="">
        <b>First name:</b>
        <input *ngIf="editInstance!=true" type="text" class="form-control col-2 d-inline ml-2" readonly [(ngModel)]="user.firstName">
        <input *ngIf="editInstance"  type="text"  class='form-control col-2 d-inline ml-2' [(ngModel)]="changePass.firstName" className='form-control form-control-sm col-10'/>
        
    </div>
    <div class="mt-2 ml-50">
        <b>Last name:</b>
        <input *ngIf="editInstance!=true" type="text" class="form-control col-2 d-inline ml-2" readonly [(ngModel)]="user.lastName">
        <input *ngIf="editInstance" type="text" class='form-control col-2 d-inline ml-2' [(ngModel)]="changePass.lastName" className='form-control form-control-sm col-10'/>
    </div>
    <div class="mt-2 ml-50">
        <b>Username:</b>
        <input type="text" class="form-control col-2 d-inline ml-2" readonly [(ngModel)]="user.userName">
    </div>
    <div *ngIf="editInstance" class="mt-2 ml-50">
        <b>Old password:</b>
        <input  type="password" class='form-control col-2 d-inline ml-2' [(ngModel)]="changePass.oldPass" className='form-control form-control-sm col-10'/>
    </div>
    <div *ngIf="editInstance" class="mt-2 ml-50">
        <b>New password:</b>
        <input type="password" class='form-control col-2 d-inline ml-2' [(ngModel)]="changePass.newPass" className='form-control form-control-sm col-10'/>
    </div>
    <div *ngIf="editInstance" class="mt-2 ml-50">
        <b>Repeate new password:</b>
        <input type="password"  class='form-control col-2 d-inline ml-2' [(ngModel)]="repeatPass" className='form-control form-control-sm col-10'/>
    </div>
    <div class="ml-5">
        <button type="button" class="btn btn-outline-primary mt-3 ml-5" *ngIf="!editInstance" (click)="edit()">Change information</button>
        <button type="button" class="btn btn-outline-primary mt-3 ml-5" *ngIf="editInstance" (click)="submit()">✓</button>
        <button type="button" class="btn btn-outline-primary mt-3 ml-2" *ngIf="editInstance" (click)="cancel()">X</button>
    </div>
</div>