<div class="form-group text-center">
    <div class="row mx-auto w-50">
        <h1 class="ml-3">Exam part</h1>
    </div>
    <div class="mt-3 ml-4">
        <b>Date:</b>
        <input type="datetime-local" class="form-control col-3 d-inline ml-2" [(ngModel)]="examDetail.date">
    </div>
    <div class="mt-2">
        <b>Location:</b>
        <input type="text" class="form-control col-2 d-inline ml-2" [(ngModel)]="examDetail.location">
    </div>
    <div class="mt-2 ml-3">
        <b>Points:</b>
        <input type="text" class="form-control col-2 d-inline ml-2" [(ngModel)]="examDetail.points">
    </div>
    <div class="mt-2 ml-4">
        <b>Type:</b>
        <select class="form-control col-2 d-inline ml-2" [(ngModel)]="typeCode">
            <option *ngFor="let type of examPartTypes" value="{{type.code}}">{{type.name}}</option>
        </select>
    </div>
    <div class="ml-5">
        <button type="button" class="btn btn-outline-success mt-3 ml-5" (click)='add()'>Save</button>
        <button type="button" class="btn btn-outline-warning mt-3 ml-1" (click)='goBack()'>Cancel</button>
    </div>
</div>
