<div class=" content text-center">
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header" style="background-color: rgba(39,41,61,255); color: white;"></div>
          <div class=" card-body" style="background-color: rgba(39,41,61,255); color: white;">
            
            <h1>Exam part</h1>
                <form class="text-center">
                    <div class=" row ml-7">
    
                        <div class="col-md-4 px-md-1">
                            <div class=" form-group">
                                <b>Date:</b>
                                <input *ngIf="this.mode === 'ADD'" type="datetime-local" class="form-control" [(ngModel)]="examPart.date" [ngModelOptions]="{standalone: true}">
                                <input *ngIf="this.mode === 'EDIT'" type="datetime-local" class="form-control" [(ngModel)]="dateString" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-md-4 px-md-1">
                            <div class=" form-group">
                                <b>Location:</b>
                                <input type="text" class="form-control" [(ngModel)]="examPart.location" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>
                        <div class="row ml-7">
                            <div class="col-md-4 px-md-1">
                                <div class=" form-group">
                                <b>Points:</b>
                                <input type="text" class="form-control" [(ngModel)]="examPart.points" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-md-4 px-md-1">
                            <div class="form-group">
                                <b>Type:</b>
                                <select class="form-control" [(ngModel)]="typeCode" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let type of examPartTypes" value="{{type.code}}">{{type.name}}</option>
                                </select>
                            </div>
                        </div>
                    <div class="text-center">
                        <button type="button" class=" btn btn-fill btn-danger" (click)="save()">✓</button>
                        <button type="button" class=" btn btn-fill btn-danger" (click)="goBack()">X</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>