<div class="form-group text-center">
    <div class="text-right">
        <button type="button" class="btn mr-5 btn-outline-dark" (click)="gotToExamParts()">Exam parts</button>
    </div>
    <h1 class="d-inline mr-5">Course instance</h1>
    <div class="mt-4">
        <div *ngIf="coursesSpecifications.length > 0" class="col-2 d-inline mr-5">
            <b>Course:</b>
            <input *ngIf="editInstance!=true" class='form-control col-2 ml-2 mb-3 d-inline' readonly list="coursesSpecifications" [(ngModel)]="courseSpecificationCode"/>
            <input *ngIf="editInstance" class='form-control col-2 ml-2 mb-3 d-inline' list="coursesSpecifications" [(ngModel)]="courseSpecificationCode"/>
            <button type="button" class="ml-1 btn-primary rounded" *ngIf="!editInstance" (click)="edit()">🖉</button>
            <button type="button" class="ml-1 btn-primary rounded" *ngIf="editInstance" (click)="submit()">✓</button>
            <button type="button" class="ml-1 btn-primary rounded" *ngIf="editInstance" (click)="cancel()">X</button>
            <datalist id='coursesSpecifications'>
                <option *ngFor="let cs of coursesSpecifications" value="{{cs.code}}">{{cs.title}}</option>
            </datalist>
        </div> 
        <div class="d-inline ml-4">
            <b>ECTS:</b>
            <input type="text" readonly class="form-control col-2 d-inline ml-2" [(ngModel)]="courseInstance.courseSpecificationDTO.ects">
        </div>
    </div>
    <div>
        <b>Start:</b>
        <input type="date" (focusout)="submit()" class="form-control col-2 d-inline ml-2" style="margin-right: 10%; margin-top: 2%;" [(ngModel)]="startDate">
        <b>End:</b>
        <input type="date" (focusout)="submit()" class="form-control col-2 d-inline ml-2" [(ngModel)]="endDate">
    </div>
    <div class="mt-3" *ngIf="role==='ROLE_ADMINISTRATOR'">
        <b>Teacher: </b>
        <input *ngIf="editTeacher!=true" class='form-control col-2 ml-2 mb-3 d-inline' readonly list="teachers" [(ngModel)]="teacherUsername"/>
        <input *ngIf="editTeacher" class='form-control col-2 ml-2 mb-3 d-inline' list="teachers" [(ngModel)]="teacherUsername"/>
        <button type="button" class="ml-1 btn-primary rounded" *ngIf="!editTeacher" (click)="teacherEdit()">🖉</button>
        <button type="button" class="ml-1 btn-primary rounded" *ngIf="editTeacher" (click)="teacherSubmit()">✓</button>
        <button type="button" class="ml-1 btn-primary rounded" *ngIf="editTeacher" (click)="teacherCancel()">X</button>
        <datalist id='teachers'>
            <option *ngFor="let t of teachers" value="{{t.userDTO.userName}}">{{t.userDTO.firstName}} {{t.userDTO.lastName}}</option>
        </datalist>
    </div>
    <div class="main" style="padding-top: 7%;" *ngIf="students.length > 0">
        <h4 class="ml-5">Students</h4>
        <table class="table mx-auto w-75">
            <thead>
                <tr>
                    <th class="text-center">Card number</th>
                    <th class="text-center">Firstname</th>
                    <th class="text-center">Lastname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of students">
                    <td class="text-center"><button class="btn btn-link" (click)="goToStudentDetail(s.cardNumber)">{{s.cardNumber}}</button></td>
                    <td class="text-center">{{s.userDTO.firstName}}</td>
                    <td class="text-center">{{s.userDTO.lastName}}</td>
                    <td class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="removeStudent(s)">X</button></td>
                </tr>
                <tr *ngIf="otherStudents.length > 0">
                    <td colspan="4">
                        <input class='form-control col-4 ml-2 mb-3 d-inline' list="otherStudents" [(ngModel)]="studentCardNumber"/>
                        <datalist id='otherStudents'>
                            <option *ngFor="let s of otherStudents" value="{{s.cardNumber}}">{{s.userDTO.firstName}} {{s.userDTO.lastName}}</option>
                        </datalist>
                        <button type="button" class="ml-1 btn-primary rounded" (click)="addStudent()">Add student</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>