<div class="form-group text-center">
    <h1>Course instance</h1>
    <div class="mt-4">
        <div *ngIf="coursesSpecifications.length > 0" class="col-2 d-inline mr-5">
            <b>Course:</b>
            <input (focus)="clear()" (focusout)="edit()" class='form-control col-2 ml-2 mb-3 d-inline' list="coursesSpecifications" [(ngModel)]="courseSpecificationCode" className='form-control form-control-sm col-10'/>
            <datalist id='coursesSpecifications'>
                <option *ngFor="let cs of coursesSpecifications" value="{{cs.code}}">{{cs.title}}</option>
            </datalist>
        </div> 
        <div class="d-inline ml-4">
            <b>ECTS:</b>
            <input type="text" readonly class="form-control col-2 d-inline ml-2" [(ngModel)]="courseInstance.courseSpecificationDTO.ects">
        </div>
    </div>
    <div>
        <b>Start:</b>
        <input type="date" (focusout)="edit()" class="form-control col-2 d-inline ml-2" style="margin-right: 10%; margin-top: 2%;" [(ngModel)]="startDate">
        <b>End:</b>
        <input type="date" (focusout)="edit()" class="form-control col-2 d-inline ml-2" [(ngModel)]="endDate">
    </div>
    <div class="main" style="padding-top: 7%;" *ngIf="students.length > 0">
        <h4 class="ml-5">Students</h4>
        <table class="table mx-auto w-75">
            <thead>
                <tr>
                    <th class="text-center">Card number</th>
                    <th class="text-center">Firstname</th>
                    <th class="text-center">Lastname</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of students">
                    <td class="text-center"><a routerLink="/">{{s.cardNumber}}</a></td>
                    <td class="text-center">{{s.userDTO.firstName}}</td>
                    <td class="text-center">{{s.userDTO.lastName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>