<div class="form-group text-center">
    <h1>Course instance</h1>
    <div>
        <b>Title:</b>
        <input type="text" class="form-control col-2 d-inline ml-2" style="margin-right: 10%; margin-top: 2%;">
        <b>ECTS:</b>
        <input type="text" class="form-control col-2 d-inline ml-2">
    </div>
    <div>
        <b>Start:</b>
        <input type="text" class="form-control col-2 d-inline ml-2" style="margin-right: 10%; margin-top: 2%;">
        <b>End:</b>
        <input type="text" class="form-control col-2 d-inline ml-2">
    </div>
    
    <div class="main" style="padding-top: 7%;">
        <h4 class="ml-5">Students</h4>
        <table class="table mx-auto w-75">
            <thead>
                <tr>
                    <th class="text-center">Card number</th>
                    <th class="text-center">Firstname</th>
                    <th class="text-center">Lastname</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><a routerLink="/">SF-21-2018</a></td>
                    <td class="text-center">Svetozar</td>
                    <td class="text-center">Brborić</td>
                </tr>
                <tr>
                    <td class="text-center"><a routerLink="/document">SF-27-2018</a></td>
                    <td class="text-center">Dejan</td>
                    <td class="text-center">Rakin</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>