<div class="main">
    <h1 class="ml-5">Users</h1>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Firstname</th>
                <th class="text-center">Lastname</th>
                <th class="text-center">Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">Svetozar</td>
                <td class="text-center">Brborić</td>
                <td class="text-center">brboric99</td>
            </tr>
            <tr>
                <td class="text-center">Dejan</td>
                <td class="text-center">Rakin</td>
                <td class="text-center">rakin99</td>
            </tr>
        </tbody>
    </table>
    <div style="float: right; margin-right: 15%;">
        <button type="button" class="btn btn-primary">Add</button>
    </div>
</div>