<div class="main">
    <h1 class="ml-5">Users</h1>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Firstname</th>
                <th class="text-center">Lastname</th>
                <th class="text-center">Username</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let u of users; let i = index; let odd = odd;">
                <td class="text-center">{{u.firstName}}</td>
                <td class="text-center">{{u.lastName}}</td>
                <td class="text-center"><a routerLink="/">{{u.userName}}</a></td>   
            </tr>
        </tbody>
    </table>
    <div class="ml-5" style="float: right; margin-right: 15%;">
        <a class="btn btn-outline-primary mt-3 ml-5" routerLink="/register" role="button">Add</a>
    </div>
</div>